<!DOCTYPE HTML>
<html>
	<head>
		<title>The Casket</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">
					<nav id="nav">
						<a href="/login">Login/Register</a>						
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="background-image: url({{ url_for('static', filename='images/bg.jpg') }});">
				<div class="inner">
					<header>
						<h1>Welcom !!</h1>
					</header>

					<h3 style="color:white;">Find private tutors you're comfortable with to help you succeed in everything from beginners English to degree level Physics.Use our secure platform to share availability with private tutors, discuss syallabi, and arrange the best location for your private tuition at your own convinience.</h3>
					<footer>
						<b><a href="/register" class="button"  style="background-color:black;">Get Started</a></b>
					</footer>
				</div>
			</section>
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
